{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<!-- Basic Page Needs
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8" />

	{% block meta %}
	<!-- Title for each page goes here -->
	{% endblock meta %}

	<meta name="Story 3" content="" />
	<meta name="Teofanus Gary Setiawan" content="" />

	<!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- FONT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link
		href="//fonts.googleapis.com/css?family=Raleway&display=swap"
		rel="stylesheet"
		type="text/css"
	/>
	<link
		href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;800&display=swap"
		rel="stylesheet"
		type="text/css"
	/>
	<link
		href="https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap"
		rel="stylesheet"
		type="text/css"
	/>
	<link
		href="https://fonts.googleapis.com/css2?family=Sarala&display=swap"
		rel="stylesheet"
		type="text/css"
	/>

	<!-- CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" href="{% static 'css/index.css' %}" />

	<!-- Favicon
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link
		rel="icon"
		type="image/png"
		href="{% static 'images/Logo.png' %}"
	/>
</head>

<body class="antialiased">
  	<!-- Navbar goes here -->
	<nav
		class="flex flex-row text-orange-dark font-secondary justify-around p-4 bg-green-darker"
	>
		<a href="{% url 'main:home' %}" class="hover:font-bold">Home</a>
		<a href="/#about-me" class="hover:font-bold">About Me</a>
		<a href="/#projects" class="hover:font-bold">Projects</a>
		<a href="/#skills" class="hover:font-bold">Skills</a>
		<a href="/#contacts" class="hover:font-bold">Contact</a>
	</nav>

	{% block content %}
	<!-- Content goes here -->
	{% endblock content %}

  	<!-- Footer goes here -->
  	<footer
		id="contacts"
		class="grid grid-rows-2 place-items-center space-y-2 p-4 text-white bg-green-darker"
	>
		<ul class="flex flex-row space-x-2">
			<li>
				<a
					href="https://www.linkedin.com/in/garyteofanus/"
					target="_blank"
					rel="noopener noreferer"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="feather feather-linkedin w-8 h-8"
						viewBox="0 0 24 24"
					>
						<path
							d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"
						/>
						<circle cx="4" cy="4" r="2" />
					</svg>
				</a>
			</li>
			<li>
				<a
					href="https://github.com/garyteofanus"
					target="_blank"
					rel="noopener noreferer"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="feather feather-github w-8 h-8"
						viewBox="0 0 24 24"
					>
						<path
							d="M9 19c-5 2-5-2-7-3m14 6v-4a3 3 0 00-1-2c3-1 7-2 7-7a5 5 0 00-2-4 5 5 0 000-4l-4 1a13 13 0 00-7 0L5 1a5 5 0 000 4 5 5 0 00-1 4c0 5 3 6 6 7a3 3 0 00-1 2v4"
						/>
					</svg>
				</a>
			</li>
			<li>
				<a
					href="https://www.instagram.com/garyteofanus/"
					target="_blank"
					rel="noopener noreferer"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="feather feather-instagram w-8 h-8"
						viewBox="0 0 24 24"
					>
						<rect
							x="2"
							y="2"
							width="20"
							height="20"
							rx="5"
							ry="5"
						/>
						<path d="M16 11a4 4 0 11-3-3 4 4 0 013 3zM18 7h0" />
					</svg>
				</a>
			</li>
			<li>
				<a
					href="mailto:garyteofanus@gmail.com"
					target="_blank"
					rel="noopener noreferer"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="feather feather-mail w-8 h-8"
						viewBox="0 0 24 24"
					>
						<path d="M4 4h16l2 2v12l-2 2H4l-2-2V6l2-2z" />
						<path d="M22 6l-10 7L2 6" />
					</svg>
				</a>
			</li>
		</ul>
		<p class="font-secondary">
			Made with 💖 by Teofanus Gary Setiawan
		</p>
	</footer>
</body>
</html>
