{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello there!</title>
{% endblock meta %}

{% block content %}	
<section
	id="home"
	class="bg-fixed p-4 bg-center bg-no-repeat relative bg-cover min-h-screen grid place-items-center md:flex md: items-center"
>
	<div class="m-4 space-y-4 md:pl-24 lg:pl-40">
		<header	
			class="text-6xl font-primary flex flex-col"
		>
			<p class="text-green font-extrabold">Teofanus</p>
			<p class="text-green opacity-50">Gary</p>
		</header>
		<div class="space-y-2">
			<p
				class="text-xl font-secondary text-orange-light place-items-center"
			>
				An aspiring computer scientist
			</p>
			<ul
				class="flex flex-row space-x-2 text-white"
			>
				<li>
					<a
						href="https://www.linkedin.com/in/garyteofanus/"
						target="_blank"
						rel="noopener noreferer"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="feather feather-linkedin w-8 h-8"
							viewBox="0 0 24 24"
						>
							<path
								d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"
							/>
							<circle cx="4" cy="4" r="2" />
						</svg>
					</a>
				</li>
				<li>
					<a
						href="https://github.com/garyteofanus"
						target="_blank"
						rel="noopener noreferer"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="feather feather-github w-8 h-8"
							viewBox="0 0 24 24"
						>
							<path
								d="M9 19c-5 2-5-2-7-3m14 6v-4a3 3 0 00-1-2c3-1 7-2 7-7a5 5 0 00-2-4 5 5 0 000-4l-4 1a13 13 0 00-7 0L5 1a5 5 0 000 4 5 5 0 00-1 4c0 5 3 6 6 7a3 3 0 00-1 2v4"
							/>
						</svg>
					</a>
				</li>
				<li>
					<a
						href="https://www.instagram.com/garyteofanus/"
						target="_blank"
						rel="noopener noreferer"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="feather feather-instagram w-8 h-8"
							viewBox="0 0 24 24"
						>
							<rect
								x="2"
								y="2"
								width="20"
								height="20"
								rx="5"
								ry="5"
							/>
							<path d="M16 11a4 4 0 11-3-3 4 4 0 013 3zM18 7h0" />
						</svg>
					</a>
				</li>
				<li>
					<a
						href="mailto:garyteofanus@gmail.com"
						target="_blank"
						rel="noopener noreferer"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="feather feather-mail w-8 h-8"
							viewBox="0 0 24 24"
						>
							<path d="M4 4h16l2 2v12l-2 2H4l-2-2V6l2-2z" />
							<path d="M22 6l-10 7L2 6" />
						</svg>
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>

{% include "home/about.html" %}

{% include "home/projects.html" %}

{% include "home/skills.html" %}

{% endblock content %}	
